@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.inconsolata-<uniquifier> {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
    overflow: hidden;
    background-color: #e5e5f7;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #1a1a2e;
        color: #e5e5f7;
    }
}

body {
    cursor: default;
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    padding-top: 1rem;
    position: relative;
}

#pastelDiv {
    position: relative;
    height: calc(100% - 6rem); 
    width: calc(100% - 2rem);
    border-radius: 0.5rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
    overflow: hidden;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#pastelDiv.slide-out-left-container {
    opacity: 0;
}

#pastelDiv.slide-out-right-container {
    opacity: 0;
}

#pastelDiv.slide-in-left-container {
    opacity: 1;
}

#pastelDiv.slide-in-right-container {
    opacity: 1;
}


#canvasFrame {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-controls {
    position: fixed;
    bottom: 0;  
    left: 0;
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}


.nav-controls button {
    background: rgba(255, 255, 255, 0.0);
    color: #1a1a2e;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .nav-controls button {
      background: rgba(255, 255, 255, 0.0);
      color: #e5e5f7;
      border: none;
  }
}

.nav-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#currentNum {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    min-width: 0.1rem;
    text-align: center;
    transition: all 0.3s ease;
    font-family: inconsolata;
}

@media (prefers-color-scheme: dark) {
  #currentNum {
      background: rgba(255, 255, 255, 0.0);
      color: #e5e5f7;
      border: none;
  }
}

#currentNum:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 0.125rem rgba(247, 156, 172, 0.5);
}

#pageTitle {
    flex-grow: 1; 
    text-align: right;
    font-weight: bold;
    padding: 0 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: unset;
    font-family: inconsolata;
}

.page {
    animation: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

@media (max-width: 768px) {
    #pastelDiv {
        height: calc(100% - 6rem);
        width: calc(100% - 2rem);
    }

    #pageTitle {
       display: none;
    }
}
